<div class="container pt-3" style="margin-bottom:20px">
    <div class="row justify-content-sm-center">
      <div class="col-sm-10 col-md-6">
        <div class="card border-info">
          <div class="card-header">Reset password</div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <form (ngSubmit)="onResetPassword(f)" #f="ngForm">
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" id="email" name="email" email ngModel #email="ngModel" class="form-control" required>
                  </div>
                  <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
  
                    <div *ngIf="email.errors.required">
                      Email is required.
                    </div>
                    <div *ngIf="email.errors.email">
                      Email is not valid.
                    </div>
                  </div>
             
                  <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Reset</button>
                </form>
  
  
                <div class="redirectToLogin">
                  <span>Already have an account?
                    <a class="redirect" routerLink="/login"> Login</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>